.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
  }

  .modalContainer {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .modalTitle {
    text-align: center;
  }

  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .loaderContainer {
    width: 100px;
    height: 100px;
  }