h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #fe0000;
}

h3 {
    font-size: 2.3rem;
    text-align: justify;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.text-wrapper {
    padding:  100px;
}

form {
    width: 500px;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

input {
    background-color: #55555530;
    border: none;
    padding: 14px;
    font-size: 1.1rem;
}

select {
    background-color: #55555530;
    border: none;
    padding: 14px;
    font-size: 1.1rem;
}

.button-wrapper {
    margin-bottom: 20px;
}

button#continue {
    width: 300px;
    height: 46px;
    border: none;
    background-color: #fe0000;
    color: white;
    font-size: 1.1rem;
}

@media screen and (max-width: 1024px)  { 
    .text-wrapper {
        padding:  40px;
    }
}

@media screen and (max-width: 600px)  { 
    form {
        width: 100%;
    }

    button#continue {
        width: 100%;
    }

    .text-wrapper {
        padding: 100px 0px;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
}