.modalMessageBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
  }

  .modalMessageContainer {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .modalMessageTitle {
    text-align: center;
  }

  .modalMessageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }

  .modalMessageFooter{
    display: flex;
    justify-content: center;
  }

  .modalMessageContainer .modalMessageFooter button#accept {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #fe0000;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }