nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: white;
    background-color: black;
    height: 75px;
    position: fixed;
    z-index: 50;
}

.menu-items {
    display: flex;
    list-style: none;
    z-index: 100;
}

nav ul li {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

nav ul li:last-child {
    background-color: #61CE70D1;
    height: 30px;
    border-radius: 10px;
    margin: auto;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

nav ul li a:hover {
    color: #FE0000;
}

.link-active {
    color: #FE0000;
}

.logo {
    height: 60px;
    width: 45px;
    padding: 15px;
}

.hamburger-icon {
    margin-right: 30px;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

ul.show {
    top: 75px;
}

ul {
    margin: 10px;
}

.title-wrapper {
    background-color: black;
    color: white;
    margin: 0;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.title-wrapper h1 {
    font-size: 3.2rem;
    padding-top: 50px;
}

.title-wrapper div {
    width: 80%;
}

@media screen and (max-width: 1024px)  {
    .menu-items {
        height: calc(100vh - 75px);
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        background-color: rgba(0,0,0,0.4);
        padding: 0;
        transition: .4s;
        top: -100vh;
    }

    .hamburger-icon {
        display: inline-flex;
    }

    nav ul li {
        width: 100%;
        height: 90px;
        margin: 0;
    }

    nav ul li:last-child {
        background-color: transparent;
        height: 90px;
    }

    ul {
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .title-wrapper div {
        width: auto;
    }
}