.footerContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.logoFooter {
    height: 320px;
    width: 170px;
}

.linksFooterList {
    list-style: none;
}

.linksFooterList li a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.linksFooterList li {
    color: black;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 10px 0px;
}

.endFooter {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.privacy{
    padding: 16px;
    display: flex;
    align-items: center;
}

.privacy a {
    color: black;
}

.madeBy{
    padding: 16px;
}

.socialNetworks{
    padding: 16px;
}

.socialNetworks a span {
    font-size: 1.9rem;
    padding: 4px;
    color: black;
}

.separator {
    margin: 0 4px;
    height: 20px;
    border-right: 1px solid black;
}


@media screen and (max-width: 1024px)  {
    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerContainer div {
        padding: 40px;
        text-align: center;
    }
}

@media screen and (max-width: 720px)  {
    .endFooter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}