.modalEndReservationBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
  }

  .modalEndReservationContainer {
    width: 300px;
    height: 350px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .modalEndReservationTitle {
    text-align: center;
  }

  .modalEndReservationBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }

  .modalEndReservationFooter{
    display: flex;
    justify-content: center;
  }

  .fieldEndModalEndReservation {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }

  .modalEndReservationContainer .modalEndReservationFooter button#accept {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #fe0000;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  form#endModalForm {
    width: 100%;
  }